<!-- a container class containg a row, which row contains an extra small column, 
which comn consists of a button of class, btn btn-primary, 
when this button is clicked, we geta result of odd numbers-->
<div class="container">
    <div class="row">
        <div class="div col-xs-12">
            <button class="btn btn-primary" (click)="onlyOdd=!onlyOdd ">Only show odd Numbers</button>
            <br>
            <!--an un ordered list of class list - group, 
            with adiv that checks if the numbers that are being looped through
            using ng For and then dispays them using string interpolation {{odd}}-->


            <ul class="list-group ">
                <div *ngIf="onlyOdd">
                    <!-- using ngClass attribute to make the dispayed odd numbers red, using the elemnent stated in the css-->
                    <li class="list-group-item" [ngClass]="{ odd: odd %2 !== 0 }" [ngStyle]="{backgroundColor : odd %2 !== 0 ? 'yellow' : 'transparent'}" *ngFor="let odd of oddNumbers ">
                        {{odd}}

                    </li>

                </div>

                <!--another un ordered list of class list - group, 
            with adiv that checks if the numbers that are being looped through
            using ng For and then dispays them using string interpolation {{even}}-->



                <div *ngIf="!onlyOdd">
                    <li class="list-group-item" [ngClass]="{ odd: even %2 !== 0 }" *ngFor="let even of evenNumbers ">
                        {{even}}

                    </li>

                </div>
            </ul>
        </div>
    </div>

</div>