<!-- a container class containg a row, which row contains an extra small column, 
which comn consists of a button of class, btn btn-primary, 
when this button is clicked, we geta result of odd numbers-->
<div class="container">
    <div class="row">
        <div class="div col-xs-12">
            <button class="btn btn-primary" (click)=" onlyOdd=!onlyOdd "></button>
            <br>

            <ul class="list-group ">
                <li class="list-group-item " *ngFor="number of numbers ">
                    {{number}}

                </li>
            </ul>
        </div>
    </div>

</div>